body{
    margin: 0;
    background-color:#f2f4f7;

}
section{
    height: 100%;
    width: 100%;
    display: flex;
}
.logo{
    height: auto;
    width: 50%;
}
img{
    width: 324px;
    margin-left: 246px;
    height: 113px;
    margin-top: 169px;
    
    
}
span{
    display: block;
}
p{
   font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
    font-size: 28px;
    font-weight: normal;
    line-height: 32px;
    width: 500px;
    margin-left: 270px;
    margin-top: -25px;
}
.box{
    height: 354px;
    width: 389px;
    background-color: #ffffff;
    margin-top: 131px;
    margin-left: 83px;
    border-radius: 5px;
    border: 2px solid rgb(255, 255, 255);
    box-shadow: 0.1px 0.1px 5px black;
}
input:nth-child(1){
    height: 49px;
    width: 89%;
    margin-top: 17px;
    margin-left: 17px;
    border: 1px solid #0066ff;
    border-radius: 5px;
    

}
input:nth-child(2){
    height: 49px;
    width: 89%;
    margin-top: 14px;
    margin-left: 17px;
    border: 1px solid #0066ff;
    border-radius: 5px;


}
#login{
    height: 49px;
    width: 91%;
    margin-top: 14px;
    margin-left: 17px;
    border-radius: 5px;
    border-color:#0866ff;
background-color: #0866ff;
font-size: 20px;
font-family: sans-serif;
color: white;
font-weight: bold;
border: none;
}
#forgotten{
    text-decoration: none;
    height: 10px;
    width: 145px;
    margin-left: 119px;
    display: inline-block;
    margin-top: 19px;
    color: #0866ff;
    font-family: inherit;
}

hr{
    margin-top: 20px; 
    opacity: 0.5;   
}
#new-acc{
    height: 46px;
    width: 53%;
    margin-top: 17px;
    margin-left: 95px;
    border-radius: 5px;
    font-size: 20px;
    font-family: sans-serif;
    color: white;
    font-weight: bold;
    border-color: #42b72a;
    background-color: #42b72a;
    box-shadow: none;
    border: none;
    
}
input:nth-child(1)::placeholder{
    font-size: 17px;
    padding: 10px;
    opacity: 0.5;
}
input:nth-child(2)::placeholder{
    font-size: 17px;
    padding: 10px;
    opacity: 0.5;
}
#page-create{
    height: 10px;
    width: 300px;
    font-size: 14px;
    margin-top: 44px;
    margin-left: 54px;
}
#Create{
    font-weight: bold;
    display: inline;
}
footer{
    width: 100%;
    height: 30%;
}
footer img{
    margin-top: 256px;
    width: 83%;
    height: 30%;
    margin-left: 100px;
}
